
<form action="/new" method="POST">
    <label for="author">SENDER NAME:
        <input type="text" id="author" name="author">
    </label>
    <label for="message">MESSAGE:
        <input type="text" id="message" name="message">
    </label>
    <button type="submit">SEND</button>
</form>
