
<html>
    <body>
        <ul>
            <% messages.map((msg,index) => { %>
                <li>
                    <h2><%= msg.text %><a href="/details/<%= index %>">open</a></h2>
                    <p>sent by <%= msg.user %> on <%= msg.added %></p>
                </li>
        <% }) %>
        </ul>
        <a href="/new">NEW MESSAGE</a>
    </body>
</html>